[submodule "Dependencies/intercept"]
	path = Dependencies/intercept
	url = https://github.com/intercept/intercept.git
[submodule "Dependencies/entt"]
	path = Dependencies/entt
	url = https://github.com/skypjack/entt.git
[submodule "Dependencies/sigslot"]
	path = Dependencies/sigslot
	url = https://github.com/palacaze/sigslot.git
